@page
@using WebApp_Exam.Models
@model WebApp_Exam.Pages.HomeModel
@{
    ViewData["Title"] = "Sınavlar";
}

<div class="container">

    <div class="row">
            <h2 class="text-danger">Mevcut Sınavlar</h2>
    </div>

    <div class="row table-bordered">
        <div class="col-md-1">
            ID
        </div>
        <div class="col-md-3">
            Başlık
        </div>
        <div class="col-md-2">
            Tarih
        </div>
        <div class="col-md-2">
            Kullanıcı
        </div>
        <div class="col-md-1">
            İşlem
        </div>
    </div>

    @if (Model.Exams != null)
    {
        @foreach (Exam e in Model.Exams)
        {
            <div class="row table-bordered">

                <div class="col-md-1">
                    @e.Id
                </div>
                <div class="col-md-3">
                    @e.WiredText.Title
                </div>
                <div class="col-md-2">
                    @e.CreatedAt
                </div>
                <div class="col-md-2">
                    @e.Creator.Username
                </div>
                <div class="col-md-1">
                    @*edit this*@
                    @*@Html.ActionLink("Sil", "Delete", "Person", new { personId = p.Id }, new { @class = "btn btn-danger btn-sm" })*@
                </div>

            </div>
        }
    }

</div>