@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You need to <a asp-page="/Login">log in</a> to access our features. Don't have an account? <a asp-page="/Register">Register</a> for free!.</p>
</div>
