@page
@model WebApp_Exam.Pages.LogoutModel

@{
    ViewData["Title"] = "Oturumu Kapat";
}

<header>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Oturumu kapatmak için buraya tıklayın.</button>
            </form>
        }
        else
        {
            <p>Oturum başarıyla sonlandırıldı.</p>
        }
    }
</header>